/* Add any CSS necessary for your custom content */

/* sets the top navbar background to a shade of ucla light blue */

.navbar-default {
	background-color:  #8BB8E8;
	background-image: none;
}

/* below navbar css will set text color to ucla brand color /*
/* we need to select the best one */

.navbar-default .navbar-nav>li>a {
color: #003b5c
}

#navbarFixed form.navbar-form-link a.ui-commandlink,
#navbarFixed ul.navbar-nav li.dropdown span.dropdown-toggle {
	color: #003b5c
}
.text-danger {
	color: #003b5c
}

html, body {
			height: 100%;
	}
	#content.container {
			min-height: calc(100% - 210px);
			margin-bottom: -142px;
	}
	#content.container:after {
			content: "";
			display: block;
	}
	/* the bottom selector below will push the native footer down with a higer negative number */
	#footer {
					color: #fffff; margin-top:0px; padding-bottom:0px; bottom:-250px; position: relative;
	}

	/* Place custom footer just above default footer at the bottom of the page... */
	#custom-footer, #content.container:after {
			height: 160px;
	}
	#custom-footer {
			background:#fffff; color: #a9a9a9; min-height: 100px; padding: 1.25em 0 100px 0;
	}
	#custom-footer a {
			color: #337ab7;
	}

#custom-footer ul {
	list-style: none outside none;
	padding: 0;
	margin: 0;
	position: relative;
}
